<section>
    <div class="container mt-4">
        <form action="/admin/add-product" method="post" enctype="multipart/form-data">
            <h2 class="text-center">Add Product</h2>
  <div class="form-group">
    <label>Name</label>
    <input type="text" name="Name" class="form-control">
  </div>


    <div class="form-group">
    <label>category</label>
    <input type="text" name="Category" class="form-control">
  </div>


    <div class="form-group">
    <label>Price</label>
    <input type="text" name="Price" class="form-control">
  </div>


    <div class="form-group">
    <label>description</label>
    <input type="text" name="Description" class="form-control">
  </div>

{{#if imgErr}}
<p>ih3fijedejded</p>
{{/if}}
    <label>Image</label>
    <input required type="file" name="Image" class="form-control" >
    
  

 
  <button type="submit" class="btn btn-success">Submit</button>
</form>
    </div>
</section>